.sudo {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: black;
}
.sudo span {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
}
.sudo input {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: 18px;
}
